
   <section class="login-block">
     <div class="container">
   
	<div class="row">
		<div class="col-md-4 login-sec">
    <h2 class="text-center">新規登録</h2>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"mt-5" }) do |f| %>
  
       
       
  <div class="form-group">
        <label>名前</label>
        <%= f.text_field :name, class: "form-control", placeholder: "名前を入力してください" %>
      </div>
 
  <div class="form-group">
    <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "emailを入力してください" %>
    
  </div>
   <div class="form-group">
        <label>パスワード</label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上入力してください)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", placeholder:"パスワードを入力してください", autocomplete: "off" %>
      </div>
      
     <div class="form-group">
        <label>確認用パスワード</label>
        <%= f.password_field :password_confirmation, class:"form-control", placeholder: "パスワードを再度入力してください", autocomplete: "off" %>
      </div>  
  
  
      
    <div class="form-check">
       <%= f.submit "はじめる", class: "btn submitBtn" %>
      
  </div>
   
   <% end %>
 <div>
     <div>   </div> <div>    </div><div>    </div>
 </div>
   <%= render "devise/shared/links" %>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="/images/ph_thumb.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
             <h2>This is the World</h2>
            <p>お金をかけずに世界を見てみませんか？？</p>
        </div>	
  </div>
    </div>
    <div class="carousel-item">
       <img class="d-block img-fluid" src="/images/ph_thumb.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	
    </div>
    </div>
    <div class="carousel-item">
        <img class="d-block img-fluid" src="/images/ph_thumb.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	
    </div>
  </div>
            </div>	   
		    
		</div>
	</div>
	   </div>
    </section>




   

   