
<section class="login-block">
  <div class="container">

<p id="notice"><%= notice %></p>
<div class="login-sec">
<h2 class="text-center">詳細</h2>









      <div class="row">
     
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-12 col-sm-offset-12 col-md-offset-12 col-lg-offset-12 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to @book.user.name, user_path%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-0 col-lg-0 " align="center">
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-12 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                         
                     
                      
                      <tr>
                        <td>username:</td>
                        <td><%=@book.user.name%></td>
                      </tr>
                        <tr>
                        <td>sex:</td>
                        <td><%=@book.user.sex%></td>
                      </tr>
                      <tr>
                        <td>country:</td>
                        <td><%= @book.country %></td>
                      </tr>
                      <tr>
                        <td> induction:</td>
                        <td>  <%= @book.induction %></td>
                      </tr>
                   
                    
              
                      <tr>
                        <td>Address</td>
                        <td><%=@book.user.adress%></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%=@book.user.email%></td>
                      </tr>
              
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary"><%= link_to 'Edit', edit_book_path(@book) %></a>
                  <a href="#" class="btn btn-primary"><%= link_to 'Back', books_path %></a>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
    </div>
    </section>